
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melons_cart %}
        <tr>
            <td>{{ current_melon.common_name }}</td>
            <td>{{ current_melon.quantity}}</td>
            <td>{{ current_melon.price }}</td>
            <td>{{ current_melon.total_cost }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ order_total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
